# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ~/yocto-builds/poky-morty/meta \
  ~/yocto-builds/poky-morty/meta-poky \
  ~/yocto-builds/poky-morty/meta-openembedded/meta-oe \
  ~/yocto-builds/poky-morty/meta-openembedded/meta-systemd \
  ~/yocto-builds/poky-morty/meta-openembedded/meta-initramfs \
  ~/yocto-builds/poky-morty/meta-raspberrypi \
  ~/yocto-builds/poky-morty/meta-basilisk-ii \
  "
